@import "./variables";
@import "./reset";
@import "./mixin";
@import "../components/MyButton/MyButton";
@import "../components/MySlider/MySlider";

/* // Button
@import '../components/Button/Button';

// Message
@import '../components/Message/Message';
// Dropdown
@import '../components/Dropdown/Dropdown';
@import '../components/Input/Input';
@import '../components/Card/Card'; */
