.msg {
  vertical-align: middle;
  position: relative;
  // cursor: pointer;
  padding: 1.25rem 1.25rem 0.75rem 0.75rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  width: fit-content;
  font-size: 16;
}

.msg-lg {
  font-size: x-large;
}

.msg-sm {
  font-size: medium;
}

.msg-default {
  background-color: white;
}

.msg-urgent {
  background-color: tomato;
  border-width: thick;
  border-color: brown;
}

.msg-red {
  color: red;
}

.msg-black {
  color: black;
}

.msg-blue {
  color: blue;
}

// .msg-dark {
//   background-color: $gray-800;
//   color: $gray-500;
// }
